* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
  margin: 5px;
}

ul li, ul li a {
  text-decoration: none;
}